@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-Thin-Italic';
    src: url(../fonts/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

body{
    font-family: 'Roboto-Regular';
}

.landing-page{
}

.social-media{
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
}

.social-media-show{
     width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
}

.social-media-show img{
    padding: 0 10px;
    width: 115px;
}

.social-media-hide{
    width: 100%;
    display: block;
    text-align: center;
    padding: 35px 0 35px 0;
    display: none;
}

.social-media-hide img{
    padding: 0 10px;
    width: 150px;
}

.tagline{
      width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: #000;
    color: #fff;
    height: 137px;
}

.tagline h1{
        text-transform: uppercase;
    font-size: 96px;
    font-weight: 700;
    padding: 7px 0 22px 0;
    font-family: 'Roboto-Bold';
}

.tagline2{
    width: 100%;
    display: none;
    text-align: center;
    padding: 35px 0 35px 0;
    background-color: #000;
    color: #fff;
    height: 227px;

}

.tagline2 h1{
    text-transform: uppercase;
    font-size: 105px;
    font-weight: 700;
    padding: 15px 0 10px 0;
    font-family: 'Roboto-Bold';
}

.background{
    background: url(../images/bg.jpg) no-repeat 1px -150px;
    height: 557px;
}

.info-holder{
    background-color: rgba(0, 52, 113, 0.8);
    color: #fff;
    padding: 20px 20px 20px 20px;
    height: 557px;
}

.info-holder h2{
    font-family: 'Roboto-Bold';
}

.info-holder p{
    margin: 20px 0 0 0; 
}

.form-holder{
   padding: 20px 230px;
  color: #fff;
  height: 474px;
}

.form-holder h2{
    font-family: 'Roboto-Bold';
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-holder input{
    color: #000;
    width: 95%;
}

.form-holder textarea{
    color: #000;
    width: 95%;
}

.form-holder input.button-primary{
    color: #FFF;
    background-color: #2DBB28;
    border-color: #235021;
    width: 108px;
}

.form-holder input.button-primary:hover{
    color: #FFF;
    background-color: #2DBB28;
    border-color: #235021;
}

.petition{
    padding: 0;
}

.petition h2{
      font-family: 'Roboto-Bold';
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 0 0 0;
}

.petitioners{
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
    color: #000;
    height: 227px;
}

.petitioners h2{
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 700;
    padding: 15px 0 10px 0;
    font-family: 'Roboto-Bold';
}

.petitioner-count{
    width: 100%;
    display: block;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: 165px;
}

.petitioner-count h2{
    text-transform: uppercase;
    font-size: 65px;
    padding: 5px 0 10px 0;

}

.petitioner-holder{
    border: 1px solid #000;
    color: #000;
}

.petitioner-holder p{
    font-size: 13px;
    text-align: justify;
}

.petitioner-holder table{
    width:  100%;
}

.petitioner-holder thead{
    background-color: #e1e1e1;
}

.petitioner-holder th{
    padding: 20px 10px 20px 10px;
}

.petitioner-holder td{
    padding: 20px 10px 20px 10px;
}

.message-container{
    overflow-y: scroll;
    height: 450px;
    overflow-x:none;
}

.message-container table{
    word-break: break-word;
}

.petitioner-container{
    width: 100%;
}

.form-content{
    width:  100%;
}

/* Portrait and Landscape ----- TABLET*/

@media (max-device-width: 1280px) {

    .background{
        height: auto;
    }

    .info-holder{
        height: 680px;
        padding: 20px 20px 20px 20px;
    }

    .social-media{
        padding: 0;
    }

    .social-media-show{
        display: block;
        padding: -5px 0 23px 0;
    }

    .social-media-show img{
        width: 25%;
    }

    .tagline{
        display: block;
        height: 110px;
    }

    .tagline h1{
        font-size: 65px;
    }

    .form-holder{
         padding: 20px 0;
        height: 640px;
    }

    .form-holder input{
        color: #000;
        width: 95%;
    }

    .form-holder textarea{
        color: #000;
        width: 95%;
    }

    .petitioners{
        height: 163px;
    }

    .petitioners h2{
        font-size: 48px;
         padding: 5px 0 10px 0;
    }

    .petitioner-count{
        height: 163px;
    }

    .petitioner-count h2{
        font-size: 42px;

    }

}


/* Portrait and Landscape ----- TABLET*/

@media (max-device-width: 1024px) {

    .background{
        height: auto;
    }

    .info-holder{
        height: auto;
        padding: 20px 20px 4px 20px;
    }

    .social-media{
        padding: 0;
    }

    .social-media-show{
        display: block;
         padding: -3px 0 35px 0;
    }

    .social-media-show img{
          padding: 10px 10px;
        width: 25%;
    }

    .tagline{
        display: block;
        height: 110px;
    }

    .tagline h1{
        font-size: 65px;
    }

    .form-holder{
        height: 780px;
          padding: 20px 0;
    }

    .form-holder input{
        color: #000;
        width: 95%;
    }

    .form-holder textarea{
        color: #000;
        width: 95%;
    }

    .petitioners{
        height: 163px;
    }

    .petitioners h2{
        font-size: 48px;
         padding: 5px 0 10px 0;
    }

    .petitioner-count{
        height: 163px;
    }

    .petitioner-count h2{
        font-size: 42px;

    }

}

@media (max-device-width: 800px) {

    .background{
        height: auto;
    }

    .info-holder{
        height: 820px;
        padding: 20px 20px 4px 20px;
    }

    .info-holder p {
      font-size: 13px;
    }

    .social-media{
        padding: 0;
    }

    .social-media-show{
        display: block;
        padding: -1px 0 35px 0;
    }

    .social-media-show img{
        width: 25%;
    }

    .tagline{
        display: block;
        height: 90px;
    }

    .tagline h1{
        font-size: 55px;
    }

    .form-holder{
        padding: 20px 0;
        height: 780px;
    }

    .form-holder input{
        color: #000;
        width: 95%;
    }

    .form-holder textarea{
        color: #000;
        width: 95%;
    }

    .petitioners{
        height: 163px;
    }

    .petitioners h2{
        font-size: 48px;
         padding: 5px 0 10px 0;
    }

    .petitioner-count{
        height: 163px;
    }

    .petitioner-count h2{
        font-size: 42px;

    }

}


/* Portrait and Landscape ----- PHONE*/

@media (max-device-width: 640px) {

    .background{
        height: auto;
        background: none;
    }

    .info-holder{
        height: auto;
        padding: 20px 20px 39px 20px;
    }

    .info-holder p {
      font-size: 14px;
    }

    .social-media{
        padding: 0;
    }

    .social-media-show{
        display: none;
    }

    .social-media-hide{
        display: block;
    }

    .social-media-hide img{
        width: 25%;
    }

    .tagline{
        display: none;
    }

    .tagline2{
        display: block;
        height: 110px;
    }

    .tagline2 h1{
        font-size: 58px;
    }

    .form-holder {
        padding: 20px 0;
      height: 540px;
    }

    .form-holder input{
        color: #000;
        width: 95%;
    }

    .form-holder textarea{
        color: #000;
        width: 95%;
    }

    .petitioners{
        height: 180px;
    }

    .petitioners h2{
        font-size: 48px;
    }

    .petitioner-count{
        height: 120px;
    }

    .petitioner-count h2{
        font-size: 42px;

    }

    .form-content{
        word-break: break-word;
        font-size: 14px;
    }

}

/*scrollbar*/
::-webkit-scrollbar {
      width: 10px;
} 

::-webkit-scrollbar-track {
      background-color: #d8d8d8;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #bbbbbb;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */