@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-Thin-Italic';
    src: url(../fonts/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Light-Italic';
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}

body{
    font-family: 'Roboto-Regular';
}

.landing-page{
}

.social-media{
    width: 100%;
    display: block;
    text-align: center;
    padding: 35px 0 35px 0;
}

.social-media img{
    padding: 0 10px;
}

.tagline{
    width: 100%;
    display: block;
    text-align: center;
    padding: 35px 0 35px 0;
    background-color: #000;
    color: #fff;
    height: 227px;
}

.tagline h1{
    text-transform: uppercase;
    font-size: 105px;
    font-weight: 700;
    padding: 15px 0 10px 0;
    font-family: 'Roboto-Bold';
}

.background{
    background: url(../images/bg.jpg) no-repeat 1px -150px;
    height: 616px;
}

.info-holder{
    background-color: rgba(0, 52, 113, 0.8);
    color: #fff;
    padding: 20px;
    height: 616px;
}

.info-holder h2{
    font-family: 'Roboto-Bold';
}

.info-holder p{
    margin: 20px 0 0 0; 
}

.form-holder{
    padding: 20px;
    background-color: rgba(62, 62, 62, 0.6);
    color: #fff;
    height: 575px;
}

.form-holder h2{
    font-family: 'Roboto-Bold';
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-holder input{
    color: #000;
}

.form-holder textarea{
    color: #000;
}

.form-holder input.button-primary{
    color: #FFF;
    background-color: #003471;
    border-color: #013169;
}

.form-holder input.button-primary:hover{
    color: #003471;
    background-color: #fff;
    border-color: #013169;
}

.petitioners{
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
    color: #000;
    height: 227px;
}

.petitioners h2{
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 700;
    padding: 15px 0 10px 0;
    font-family: 'Roboto-Bold';
}

.petitioner-count{
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 0 15px 0;
    background-color: #000;
    color: #fff;
    height: 227px;
}

.petitioner-count h2{
    text-transform: uppercase;
    font-size: 65px;
    padding: 15px 0 10px 0;

}

.petitioner-holder{
    border: 1px solid #000;
    color: #000;
}

.petitioner-holder p{
    font-size: 13px;
    text-align: justify;
}

.petitioner-holder table{

}

.petitioner-holder thead{
    background-color: #e1e1e1;
}

.petitioner-holder th{
    padding: 20px 10px 20px 10px;
}

.petitioner-holder td{
    padding: 20px 10px 20px 10px;
}

.message-container{
    overflow-y: scroll;
    height: 450px;
    overflow-x:none;
}

.message-container table{
    word-break: break-word;
}


@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

    

    }



/*scrollbar*/
::-webkit-scrollbar {
      width: 10px;
} 

::-webkit-scrollbar-track {
      background-color: #d8d8d8;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #bbbbbb;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */